<div class="container list_creator">
  <div class="header">
    <div class="list-card mt-5"> <%# ⬅️ MAIN CARD%>
     <h1>WatchList Creator</h1>
      <span class="lists-tag"><%= pluralize(@lists.size, 'list') %></span>
    </div>
  </div>
</div>
  <span class="mb-2"><small><em class="text-muted saved_lists"><%= "You haven't created any list yes!" if @lists.empty? %></em></small></span>
    <div class="mx-5 container list">
      <div class="lists_list">
        <div class="header-list d-flex align-items-center">
          <h2 class="my-3">Your Lists</h2>
            <%= link_to 'add list', new_list_path, :class => "ms-3 btn btn-flat rounded-pill"%>
        </div>
    <div class="list-grid">
      <% @lists.each do |list| %>
        <div class="list-item-card">
          <div class="banner-movie-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
            <strong><%= link_to list.name, list_path(list) %></strong> <%# ⬅️ LIST NAME%>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <span><%= pluralize(list.movies.size, 'movie') %></span>
              </div>
        </div>
      <% end %>
    </div>
      </div>
</div>
